main.container {
    padding-bottom: 80px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bd-mode-toggle {
    z-index: 2;
}

#useravatar, #gameavatar {
    margin-right: 5px;
}

#achievementgrid, #achievementdetails {
    overflow-y: scroll;
    height: calc(100vh - 170px);
}

.ach_grid, .ach_grid img {
    float: left;
}

.ach_grid img {
    border: 2px solid transparent;
    cursor: pointer;
}

#adetail_img img {
    border: 2px solid transparent;
    display: block;
    margin: 0 auto;
}

.ach {
    cursor: pointer;
}

.ach_type_missable {
    border-color: red !important;
}

.ach_type_progression {
    border-color: lightskyblue !important;
}

.ach_type_win_condition {
    border-color: lime !important;
}

.ach_status_1 {
    border-color: transparent !important; /* override missable type */
}

.ach_status_2 {
    border-color: gold !important;
}

table {
    width: 100%;
}

.lahee-page, .page-controls {
    display: none;
}

#adetail_title {
    word-break: break-word;
}

.ach_flag_important {
    border-color: deeppink !important;
    filter: sepia(100%) saturate(1000%) brightness(100%) hue-rotate(273deg);
}

.stats_details {
    .game_img {
        border: 2px solid transparent;
        display: block;
        margin: 0 auto;
    }

    .ach_img {
        border: 2px solid transparent;
        display: block;
        margin: 0 auto;
    }
}

.bg-hardcore {
    --bs-bg-opacity: 1;
    background-color: gold !important;
}

.bg-softcore {
    --bs-bg-opacity: 1;
    background-color: silver !important;
}

.stats_small_text {
    font-size: 12px;
}

.ach_flags_4, .ach_flags_5 {
    filter: sepia(100%);
    border-color: brown !important;
}